*.py[cod]
*.pyc
*.swp

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
virtualenv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Client
app/client/public*
app/client/node_modules*

virtualenv

#Output Manuel
cli/output/*

# Tableau stats
cli/stats.csv

#IDE / Projects
.ropeproject

# Coverate & lint
*,cover
htmlcov/
pylint.out
cover/
coverage.xml

# Documentation
README.html
vagrant-mongo
.vagrant
Vagrantfile

# Logs
log/*
